*{
	margin: 0;
	padding : 0;
	box-sizing : border-box
}
body{
	display: flex;
	justify-content : center;
}
.top1 {
	margin-top: 12%;
	width: 50%;
}
.top1 img{
	border-radius:30px;
	width: 100%;
	height: 100%;

}
